<div class="row">
  <div class="col text-center">
    <img src="../assets/img/img/{{intentos}}.png" class="ahorcado-img" alt="">
    <h3> Intentos <small> {{intentos}} / 9</small></h3>
  </div>
</div>


<div class="row">
  <div class="col text-center">
    <h1>{{palabraOculta}}</h1>
  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
    <h1>Felicitaciones ganaste</h1>
    <h4>Muy bien</h4>
  </div>
</div>

<div class="row" *ngIf="perdio">
  <div class="col text-center">
    <h1>Perdiste</h1>
    <h4>:( la palabra era {{palabra}}</h4>
  </div>
</div>

<div class="row" *ngIf="!gano && !perdio">
  <div class="col text-center botones">
    <button (click)="comprobar(letra)" *ngFor="let letra of letras " class="btn btn-primary">
      {{letra}}
    </button>

  </div>
</div>